.elements-list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 12px;
}
.elements-add-block-option {
    width: 80%;
    margin: 0 10%;
    padding: 10px;
    text-align: center;
    color: #fff;
    border: 2px solid transparent;
    cursor: pointer;
    font-size: 12px;
    background:transparent;
}
.elements-add-block-option:hover {
    border: 2px solid #ccc;
}
.elements-add-block-option-icon {
    display: block;
    font-size: 2em;
    pointer-events: none;
}
.elements-add-block-option-label {
    display: block;
    font-size: 1.2em;
    margin-top: 0.8em;
    pointer-events: none;
}
.elements-option {
    display: block;
    position: relative;
    height: auto;
    margin-bottom: 15px;
}

span.svg-icon{
    display: inline-block;
    text-align: center;
    margin: 4px;
    padding: 4px;
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    fill:grey;
}
span.svg-icon:hover{
    border-color: white;
    color: white;
}