div[contenteditable] {
    outline: 2px solid rgb(27, 173, 225);
}

.reveal .axis {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -480px;
    margin-top: -350px;
    display: true;
    width: 960px;
    height: 700px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    z-index: -1;
}

.reveal .drag-select-rect {
    position: absolute;
    z-index: 255;
    pointer-events: none;
    border: 1px solid rgb(27, 173, 225);
    display: none;
}

.reveal * {
    user-select: none;
}

.reveal .section-add {
    width: 48px;
    height: 48px;
    position: absolute;
    border-style: none;
}

.reveal .section-add:hover {
    color: white;
}

.reveal .section-add[data-direction='right'] {
    top: 50%;
    right: -70px;
    margin-top: -24px;
}

.reveal .section-add[data-direction='bottom'] {
    left: 50%;
    bottom: -70px;
    margin-left: -24px;
}

.reveal .arranging-ui {
    width: 160px;
    height: 160px;
    position: absolute;
    font-size: 120px;
    padding: 0;
    border-style: none;
}

.reveal .arranging-ui:hover {
    color: white;
}

.reveal .arranging-ui :active {
    opacity: 0.5;
}

.reveal .arranging-ui[data-direction='right'] {
    top: 50%;
    right: 20px;
    margin-top: -80px;
}

.reveal .arranging-ui[data-direction='left'] {
    top: 50%;
    left: 20px;
    margin-top: -80px;
}

.reveal .arranging-ui[data-direction='embedright'] {
    bottom: 20px;
    right: 20px;
    transform: rotate(45deg);
}

.reveal .arranging-ui[data-direction='embedleft'] {
    bottom: 20px;
    left: 20px;
    transform: rotate(45deg);
}

.reveal .arranging-ui[data-direction='batchright'] {
    top: 20px;
    right: 20px;
    z-index: 255;
}

.reveal .arranging-ui[data-direction='batchleft'] {
    top: 20px;
    left: 20px;
    z-index: 255;
}

.reveal .arranging-ui[data-direction='up'] {
    left: 50%;
    top: 20px;
    margin-left: -80px;
}

.reveal .arranging-ui[data-direction='down'] {
    left: 50%;
    bottom: 20px;
    margin-left: -80px;
}

.reveal .arranging-ui[data-direction='remove'] {
    right: 200px;
    bottom: 20px;
}

.reveal .section-manipulator {
    border-radius: 50%;
    background-color: lightgray;
}

.reveal .section-manipulator>svg {
    z-index: -1;
    fill: #333;
}

.reveal .section-manipulator {
    opacity: 0.2;
    z-index: 255;
}

.reveal .section-manipulator>svg {
    z-index: -1;
    fill: white;
}

.reveal .section-manipulator:hover {
    opacity: 1;
}

.reveal button.rotate-anchor {
    background: transparent;
    color: lightgray;
    font-size: 24px;
}

.reveal button.rotate-anchor:hover {
    color: darkgray;
}

.reveal div.sc-block[sc-block-status=editing] * {
    user-select: text;
}