*,
*:before,
*:after {
    box-sizing: border-box;
}

.reveal .slides > section, .reveal .slides > section > section {
    line-height: 0;
}

.reveal>.slides{
    width:960px;
    height:700px;
}

.reveal section img{
    max-width: 100%;
    max-height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

.sl-block{
    position: absolute;
}

.sl-block[data-block-type='text'] *{
    color: inherit;
}

.sl-block[data-block-type='text']>div.sl-block-content{
    padding: 10px;
}

.sl-block[data-block-type='text']>div.sl-block-content>*{
    padding: 0px;
    margin: 0px;
}

.sl-block[data-block-type='text'] pre{
    padding:5px;
    width:100%;
}

.reveal .katex { 
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 1em;
    font-family: KaTeX_Main, "Times New Roman", serif;
    line-height: 1;
    white-space: nowrap;
    text-indent: 0;
    text-rendering: auto;
}